@import 'variables.scss';

.menu {
  display: flex;
  padding: 5px;
  border-bottom: 5px solid $color-4;

  &__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
  }

  &__actions {
    position: relative;
  }

  &__actions-dropdown {
    position: absolute;
    z-index: 1;
    max-height: 500px;
    overflow-y: scroll;
    background-color: $color-3;
    border: 2px solid $color-2;
  }

  &__actions-item {
  }

  &__actions-button {
    width: 100%;
    background: none;
    border-radius: 0;
  }

  &__metrics {
    position: relative;
  }

  &__metrics-dropdown {
    position: absolute;
    z-index: 1;
    max-height: 500px;
    overflow-y: scroll;
    background-color: $color-3;
    border: 2px solid $color-2;
  }

  &__metrics-item {
  }

  &__metrics-button {
    width: 100%;
    background: none;
    border-radius: 0;
  }
}
