@import 'variables.scss';

.prepare-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__buttons {
    padding: 5px;
    border-bottom: 5px solid $color-4;
  }

  &__datasets {
    border-bottom: 5px solid $color-4;
  }

  &__button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__body {
    display: flex;
    height: 100%;
    min-height: 0;
  }

  &__sidebar-left {
    width: 300px;
    border-right: 5px solid $color-4;
  }

  &__text-nlp-form {
    flex: 1;
  }

  &__sidebar-right {
    width: 200px;
    border-left: 5px solid $color-4;
  }
}
