@import 'variables.scss';

.texts {
  display: flex;
  flex-direction: column;

  &__title {
    padding: 10px;
    text-align: center;
    background-color: $color-4;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    max-height: 40px;
    overflow: hidden;
    border: 2px solid $color-4;
    border-radius: 0;

    &.active {
      background-color: $color-3;
    }
  }
}
