.ordered-list {
  padding-left: 5px;
}

.ordered-list-item {
}

.ordered-list-armenian {
  list-style-type: armenian;
}

.ordered-list-decimal {
  list-style-type: decimal;
}

.ordered-list-decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

.ordered-list-georgian {
  list-style-type: georgian;
}

.ordered-list-lower-alpha {
  list-style-type: lower-alpha;
}

.ordered-list-lower-greek {
  list-style-type: lower-greek;
}

.ordered-list-lower-latin {
  list-style-type: lower-latin;
}

.ordered-list-lower-roman {
  list-style-type: lower-roman;
}

.ordered-list-upper-alpha {
  list-style-type: upper-alpha;
}

.ordered-list-inherit {
  list-style-type: inherit;
}

.ordered-list-none {
  list-style-type: none;
}
