@mixin cnt($h) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: $h;
  text-align: center;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}
