@import 'variables.scss';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid $color-4;

  &__item {
    padding: 10px;
  }

  &__title {
    width: 280px;
    color: $color-3;
    font-size: 50px;
    text-align: center;
    text-shadow:
      // text border
      1px 0 $color-5,
      -1px 0 $color-5,
      0 1px $color-5,
      0 -1px $color-5,
      1px 1px $color-5,
      -1px -1px $color-5,
      1px -1px $color-5,
      -1px 1px $color-5,
      // text shadow
      3px 3px 50px $color-5;
    border-right: 5px solid $color-4;
  }

  &__nav-list {
    display: flex;
    padding: 5px;
  }

  &__nav-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
