@import 'variables.scss';

.nlp-text-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__fields {
    padding: 10px;
  }

  &__fields-labeled-element {
    justify-content: center;
  }

  &__fields-label {
    flex: none;
  }

  &__up-input {
  }

  &__accordion {
  }

  &__text {
    padding: 0 20px 20px;
  }

  &__text-accordion {
  }

  &__text-textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
  }

  &__tokens {
    padding: 0 20px 20px;
  }

  &__tokens-accordion {
  }

  &__tokens-area {
    display: flex;
    background-color: $color-4;
  }

  &__tokens-item {
    margin: 5px;
  }
}
