@import 'variables.scss';

.nlp-text-form {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;

  &__fields {
    padding: 10px;
  }

  &__fields-labeled-element {
    justify-content: center;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__fields-label {
    flex: none;
  }

  &__input {
  }

  &__summarization-textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
  }

  &__item {
    padding-bottom: 5px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__accordion {
  }

  &__text {
  }

  &__text-accordion {
  }

  &__text-textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
  }

  &__tokens {
  }

  &__tokens-settings {
  }
}
