.text-nlp-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__up {
    padding: 10px;
  }

  &__up-labeled-element {
    justify-content: center;
  }

  &__up-label {
    flex: none;
  }

  &__up-input {
  }

  &__down {
    height: 100%;
    padding: 0 20px 20px;
  }

  &__textarea {
    width: 100%;
    height: 100%;
  }
}
