@import 'variables.scss';

.nlp-texts {
  display: flex;
  flex-direction: column;

  &__title {
    padding: 10px;
    text-align: center;
    background-color: $color-4;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  &__item {
    max-height: 40px;
    border: 2px solid $color-4;
    border-radius: 0;

    &.active {
      background-color: $color-3;
    }
  }

  &__bottom {
    align-self: center;
    width: 100%;
    margin-top: auto;
    border-top: 5px dashed $color-4;
  }

  &__delete {
    padding: 10px;
  }

  &__delete-button {
    width: 100%;
  }
}
