@import 'variables.scss';

.nlp-train {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__title {
    padding: 10px;
    text-align: center;
    background-color: $color-4;
  }

  &__item {
    flex: 1;
    overflow-y: scroll;

    &:last-child {
      border-bottom: none;
    }
  }

  &__train {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__train-item {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__prepare-hugging-face-modal {
  }

  &__train-button {
  }

  &__results {
  }
}
