@import 'variables.scss';

.classification-metric-calculation-node {
  &__title {
    padding-bottom: 10px;
  }

  &__item {
    padding-bottom: 5px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__item-button {
    display: flex;
    justify-content: center;
  }

  &__labeled-element {
  }

  &__button {
  }

  &__result {
    max-height: 500px;
    margin-top: 5px;
    padding: 5px;
    overflow-y: scroll;
    border: 2px solid $color-5;
  }
}
