@import 'variables.scss';

.predict-node {
  padding: 10px;
  background-color: $color-3;
  border: 3px solid $color-2;

  &__main {
  }

  &__handle-1 {
    top: 25% !important;
  }

  &__handle-2 {
    top: 75% !important;
  }
}
