@import 'variables.scss';

.hugging-face-model-node {
  padding: 5px;
  background-color: $color-3;
  border: 3px solid $color-2;

  &__name {
  }

  &__handle {
  }

  &__main {
  }

  &__main-item {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__type {
    display: flex;
    justify-content: center;
  }

  &__type-item {
    padding: 0 10px;
  }

  &__type-button {
  }
}
