@import 'variables.scss';

.nlp-page {
  &__methods {
    display: flex;
    padding: 5px;
    border-bottom: 5px solid $color-4;
  }

  &__method {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__main {
  }
}
